#submitBtn {
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    width: 200px;
    color: rgba(60, 131, 225, 1);
}
#loginContainer {
    background-color: rgba(203, 203, 203, 0.62);
    position: absolute;
    padding: 100px;
    right: 50%;
    top: 50%;
    transform: translate(-10%, -50%);
    width: 500px;
    height: 200px;
    border-radius: 50px;
}

#isEducatorLabel {
    font-family: Roboto;
    font-weight: 400;
}

html {
    position: relative;
}

.loginInput::placeholder {
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    font-weight: 400;
    font-family: Roboto;
    font-size: 15px;
}

.loginInput {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
}

#isEducatorInput {
    transform: scale(1.5);
    border-radius: 0;
    border: 0;
    margin-right: 20px;
    box-decoration: none;
}

#isEducatorInput:focus {
    outline: none;
    border: none;
}

.inputContainer {
    margin: 20px;
}

#profileImg {
    font-family: Roboto;
}