#backgroundInfo {
    display: none;
}

#userInfo {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(-200%, -110%);
    width: 500px;
    height: 500px;
    font-family: Roboto;
}

html {
    position: relative;
}

#editProfileImg {
    border-radius: 25px;
    height: 700px;
    width: 700px;
}

#edit,
#cancelEdit,
.submitEdit {
    border: none;
    border-radius: 25px;
    background-color: rgba(210, 210, 210, 1);
    padding: 10px;
    width: 200px;
    color: rgba(60, 131, 225, 1);
}

#editPassword {
    margin-left: 20px;
}

#editPassword:disabled {
    border: black solid thin;
}

.inputContainer {
    margin: 20px;
}

#userGreyBg {
    background-color: rgba(71, 71, 71, 0.54);
    width: 600px;
    height: 170vh;
    right: 25%;
    transform: rotate(-20deg);
    top: -50vh;
    position: fixed;
}

#userOrangeBg {
    position: fixed;
    width: 500px;
    height: 170vh;
    right: 3%;
    background-color: rgba(255, 187, 0, 1);
    padding: 50px;
    font-family: Roboto;
}

#userBlueBg {
    position: fixed;
    width: 70px;
    height: 170vh;
    right: 0;
    background-color: rgba(0, 22, 133, 1);
}

#userOrangeBg button {
    background-color: rgba(255, 187, 0, 1);
    border: none;
    display: block;
    color: rgba(255, 255, 255, 1);
}

#userProfileInfoFields {
    background: linear-gradient(to bottom, rgba(102, 102, 102, 1), rgba(0, 0, 0, 1));
    padding: 20px;
    color: white;
    width: 800px;
    margin-left: -98px;
    height: 340px;
    margin-top: 30px;
}